<header>
<nav class="navbar-expand-lg navbar-fixed-top"  style="background-color: #00897b;"role="navigation">
  <div class="container">
    <div class="navbar-header navbar-hover">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " style="color:white;" href="/"><font size="3">Friendsbook</font></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <form class="navbar-form navbar-left" id="searchform" action="{% url 'profiles' %}" method="GET" >
        <div class="input-group">
          <input type="text" autocomplete="off" id="livesearch" size="30" class="form-control" placeholder="Search" name="search_user">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
            <!--

            show results are not working
            correct this
            <div style="display: block; margin-left: -305px; margin-top:35px;border: 0px;width:500px;" id="liveSearchResult" class="liveSearchResult">
            </div>
            -->
        </div>
        <div id="seearchingResult">
        </div>
      </form>


	      <ul class="mynav_content nav navbar-nav navbar-right ">

						<li>
              <a style="color: #fff ;font-size: 18px;"href="#" id="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
                    <span class="glyphicon glyphicon-globe">  <span class="badge badge-notify"></span></span>
              </a>
            </li>
						<li><a style="color: #fff ;font-size: 18px;"href={% url 'user_list'%}>Chat Room</a></li>
						<li><a style="color: #fff ;font-size: 18px;"href={% url 'new_post'%}>Create Post</a></li>

            <li class="dropdown">
              <a href="#" style="color: #fff;font-size: 18px;"class="dropdown-toggle" data-toggle="dropdown">{{ request.user.profile.fname }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'profile_info' request.user.profile.slug %}">My Profile</a></li>
                <li><a href="{% url 'UserProfileEdit' request.user.profile.slug %}">Account Settings</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
              </ul>
            </li>

	      </ul>
    </div>
  </div>
</nav>

<div style="position: absolute; z-index: 99; visibility: visible; display: block; margin-left: 245px;margin-top: -5px; border: 0px; width: 270px; background-color: white;" id="liveSearchResult" class="liveSearchResult">
</div>
<script>
jQuery(function() {
  $("#open-mikes-modal").click(function(e) {
      $("#mikesModal").mikesModal();
  });
});


(function( $ ){

  $('#searchform').on('keyup', '#livesearch', function(){


    var str=$("#livesearch").val();

      if(str.length==""){
        document.getElementById("liveSearchResult").style.display="None";
        document.getElementById("liveSearchResult").innerHTML="";
        document.getElementById("liveSearchResult").style.border="0px";
        return;
        }
      $.ajax({
      url: "/ajax/liveSearch/",
      data:{
        'search':str,
      },
      dataType: 'json',
      success: function (data) {
        console.log('get')
        var data=JSON.parse(data);
        var content="<table>";
        $.each (data, function (val) {
          if(data[val].fields.lname==null)
          content+='<tr><td>'+'<a  href='+'/users/profile/'+data[val].fields.slug+'>'+data[val].fields.fname+'</td></tr>';
          else
          content+='<tr><td>'+'<a  href='+'/users/profile/'+data[val].fields.slug+'>'+data[val].fields.fname+' '+data[val].fields.lname+'</td></tr>';
        });
        content+='</table>'
        console.log(content)
        document.getElementById("liveSearchResult").innerHTML=content;
        document.getElementById("liveSearchResult").style.display="Block";
      }
      });
    })

        })( jQuery );

        $(function () {
          $('#notifications').popover({html: true, content: 'Loading...', trigger: 'manual'});

          $("#notifications").click(function () {

            if ($(".popover").is(":visible")) {
              $("#notifications").popover('hide');
            }
            else {

              $("#notifications").popover('show');

              $.ajax({
                url: '/notifications/',
                beforeSend: function () {
                  $(".popover-content").html("<div style='text-align:center'><img src='/static/img/loading1.gif'></div>");
                  $("#notifications").removeClass("new-notifications");
                },
                success: function (data) {
                  $(".popover-content").html(data);
                }
              });
            }
            return false;
          });



          function check_notifications() {
            $.ajax({
              url: '/notifications/check/',
              cache: false,
              success: function (data) {
                if (data != "0") {

                  $('.badge-notify').html(data)
                  $("#notifications").addClass("new-notifications");
                }
                else {

                  $("#notifications").removeClass("new-notifications");
                }
              },
              complete: function () {
                window.setTimeout(check_notifications, 30000);
              }
            });
          };
        check_notifications();

        });

</script>
</header>
