<!DOCTYPE html>
<html lang="en">

<head >
	<title>Friendsbook</title>
	<meta charset="utf-8" />

	{% load staticfiles %}
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/home.css' %}" type = "text/css"/>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
    
    
</head>

<body  style="background-color:#ECEFF1">



{%include "friendsbook/header.html"%}
<div class="container">
{%include "groups/create_groups.html"%}
		{% block content %}
		{% endblock content%}
		<script id="template/mixed-ng-snipped.html" type="text/ng-template">
  <div>{{ resolved_by_django }}</div>
  <div>{$ resolved_by_angular $}</div>
</script>
</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>
	<script  src="{% static 'custom/javscript.js'%}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>

	
	
	<script src="{% static 'custom/home.js' %}"></script>
	<script src="{% static 'js/profile/profile.js' %}"></script>
	<script src="{% static 'custom/chatting.js' %}"></script>
	  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <script src="{% static 'js/js/basic-upload.js' %}"></script>
  <script src="{% static 'custom/messaging.js' %}" type="text/javascript"></script>
  
    
	
    {% block javascript %}
	{% endblock %}
    
</body>

</html>
