{%for comment in comments%}
				<div class="row particularcomment" id="{{comment.id}}">
				<hr>
					<div class="col-sm-2" >
					{{comment.username}}
					</div>
					<div class="col-sm-10">
						<div class="row">
							{{comment.text}}
							
						{% ifequal comment.username.username  user.username%}
						<div class="edit_delete" id="comment">
							<div class="dropdown">
							  <button type="submit" class="edit_button_icon" >
								<span class="glyphicon glyphicon-option-vertical"></span>
							  </button>
							  <div class="dropdown-content" style="min-width: 60px;">
								<a href="javascript:void(0)" class="edit_comment" >Edit</a>
								<a href="javascript:void(0)" class="delete_comment" >Delete</a>
							  </div>
							</div>
						</div>
						{%endifequal%}
						</div>
						<div class="Status_comments row">
						<small>
						{% if comment.is_like %}
						 <a href="javascript:void(0)" style="text-decoration: none;" class="like unlike" type="Comment_like">
						   <span class="glyphicon glyphicon-thumbs-up"></span>
						   <span class="text">Unlike</span>
						   (<span class="like-count">{{comment.likes}}</span>)
						 </a>
					   {% else %}
						 <a href="javascript:void(0)" style="text-decoration: none;" class="like" type="Comment_like">
						   <span class="glyphicon glyphicon-thumbs-up"></span>
						   <span class="text">Like</span>
						   (<span class="like-count">{{comment.likes}} </span>)
						 </a>
					   {% endif %}
						</small>
						</div>
					</div>
					<div class="col-sm-2">

					</div>
				</div>
	{%empty%}
	<li class="empty">Be the first one to comment</li>
			{% endfor %}