{% extends "friendsbook/structure.html" %}
{% block content %}
{% load static %}
{% load humanize %}
{%block head%}
	<link href="{% static 'css/post_page.css' %}" rel="stylesheet">
	<link href="{% static 'css/chatting.css' %}" rel="stylesheet">
	<link href="{% static 'css/pages/cover.css' %}" rel="stylesheet">
	<link href="{% static 'css/pages/group/navigation.css' %}" rel="stylesheet">
	<style>
	.maincontainer ul{
		margin-left:-40px;
	}
	</style>
{%endblock head%}
<div class="container-fluid">




		<div class="col-sm-2">



				{%include "groups/group_navigation.html"  with active='files'%}
</div>
			  <div class="col-sm-8">

					{%include "groups/partial/group_cover.html"%}
						<!-- Example single danger button -->

						<br><br>



										<h1>  <strong>Files : </strong></h1>
										<div class="col-sm-8">

										{% for status in posts%}

										{% if ".jpg" not in status.image.url and ".jpeg" not in status.image.url and ".tif" not in status.image.url and    ".png" not in status.image.url and ".gif" not  in status.image.url and ".ogg" not in status.image.url and ".MP4" not in status.image.url and ".mp4"  not in status.image.url and ".MKV" not in status.image.url and   ".mkv" not in status.image.url%}



										<li class='container-fluid post_style_box' style="list-style-type: none;"  post-id={{status.id}} csrf="{{ csrf_token }}">
											<div class="Status">
												 <div class="upper_post">
													 {% ifequal status.username.username user.username  %}
													 <div class="edit_delete" id="status">


														 <div class="dropdown">
															 <button type="button" class="edit_button_icon" data-toggle="dropdown">
															 <span class="glyphicon glyphicon-chevron-down"></span>
															 </button>
																	 <ul class="dropdown-menu" style="min-width: 60px;">
																		 <li>	<a href="javascript:void(0)" >Edit</a></li>
																			 <li><a href="javascript:void(0)" class="delete_status" >Delete</a></li>
																	 </ul>
														 </div>
													 </div>
													 {% endifequal %}
													 {%if status.username.profile.sid%}
														 {%if status.username.profile.sid.image%}
															 <img class="img-rounded "  src="{{ status.username.profile.sid.image.url}}" alt="My image" width="42" height="42"/>
														 {%endif%}
													 {%else%}
															 <img class="img-rounded"  src="/static/img/profile_pic.png" alt="My image" width="42" height="42"/>
													 {%endif%}



														<a  href="{% url 'profile_info' status.username.profile %}">{{status.username.profile.fname}}</a>  {{status.title}}
													{%if status.gid%}
													 <a href="{%url 'GroupsHomepage' status.gid.id%}" >{{status.gid.gname}}</a>
													{%endif%}
														<br>
														{{status.time|naturaltime}}<br>
														{% if status.text %}

														 <br>{{status.text}}<br>
														{% endif %}
														{% if status.image  %}

															 {% if ".jpg" not in status.image.url and ".jpeg" not in status.image.url and ".tif" not in status.image.url and    ".png" not in status.image.url and ".gif" not  in status.image.url and ".ogg" not in status.image.url and ".mp4"  not in status.image.url and ".MKV" not in status.image.url and   ".mkv" not in status.image.url%}
															 <h1 style="padding-left:20px"><a href={{status.image.url}}>File</a></h1>
														 {% endif %}
														{% endif %}
														<div class="post_button">


															{% if status.is_like %}
																<a href="#" style="text-decoration: none;" data-placement="left" data-toggle="tooltip" title="Loading.." class="like unlike" type="post_like">
																	<span class="glyphicon glyphicon-thumbs-up"></span>
																	<span class="text" >Unlike</span>
																	(<span class="like-count"  >{%if status.likes %}{{status.likes}}{%endif%} </span>)
																</a>
															{% else %}
																<a href="#" style="text-decoration: none;"  data-placement="left" data-toggle="tooltip" title="Loading.." class="like" type="post_like">
																	<span class="glyphicon glyphicon-thumbs-up"></span>
																	<span class="text" >Like</span>
																	(<span class="like-count"  >{{status.likes}} </span>)
																</a>
															{% endif %}
															&nbsp;&nbsp;
															<a href="javascript:void(0)" style="text-decoration: none;" class="comment">
																<span class="glyphicon glyphicon-comment"></span> Comment
																(<span class="comment-count">{{status.comments}}</span>)
															</a>

														</div>
												 </div>

												 <div class="comments" style="display:none">
													 <form role="form" class="newcomment" method="post" action="" onsubmit="return false">
														 {% csrf_token %}
														 <input type="hidden" name="Status" value="{{status.id }}">
														 <input type="text" autocomplete="off" class="form-control input-sm" placeholder="Write a comment..." name="post" maxlength="255">
													 </form>

													 <div  class="Allcomments">

													 </div>
												 </div>
											 </div>

									 </li>
									 {%endif%}

											{%empty%}


											<h2>No Files to show</h2>

										{%endfor%}

										

									</div>





			</div>


		<div class="col-sm-2">

			{%include "chat/online_user_list.html"%}
		</div>


</div>
<script>


</script>
{% endblock %}


{%block javascript%}

<script src="{% static 'js/posts/posts.js' %}"></script>
<script>

$(function () {
	console.log("Nope")
	$(document).on("click", ".maincontainer .btn-compose", function () {

		//update and correct this
		if ($(".grouppostform").hasClass("composing")) {
      $(".grouppostform").removeClass("composing");
      $(".grouppostform").slideUp();
    }
    else {
      $(".grouppostform").addClass("composing");
      $(".grouppostform textarea").val("");
      $(".grouppostform").slideDown(400, function () {
        $(".grouppostform textarea").focus();
      });
    }

		console.log('done')
	});
	$(document).on("click", ".grouppostform input[value='Post']", function (){
	console.log("done2")
	ul=$(this).closest('ul');
	form=$(this).closest('form');
	console.log($(form).serialize());
	$.ajax({
      url: '{{request.path}}',
      data:$(form).serialize(),
      type: 'POST',
      cache: false,

	  beforeSend: function () {
	  $(form).trigger("reset");
	  $(".grouppostform").slideUp();
	  $('ul.mainposts').prepend("<li class='loadcomment'><img src='/static/img/loading.gif'></li>");
        },
      success: function (data) {
	  $('ul.mainposts li.loadcomment').remove();
	  $('ul.mainposts').prepend(data);
      }
    });
	console.log(form);
	return false;
	});
	function getmembers(id){
	console.log("members");

	}
	prev_selected_tab=$('ul li.active');
	$(document).on("click", '.navigation a[href^="#"]', function (event){
	console.log("Nope")
	link=$(this).attr('href');
	event.preventDefault();
	ul=$(this).closest('ul')
		$(prev_selected_tab).removeClass('active')
	prev_selected_tab=$(this).closest('li');
	$(prev_selected_tab).addClass('active')
	group_id=$(ul).attr('group_id')
	if( link =='#1'){
		$.ajax({
		  url: "/ajax/groupMembers/",
		  data:{
			'id':group_id,
		  },
		  dataType: 'json',
		  success: function (data) {
			console.log('ok')
			$('.maincontainer').html(data);
			}
		  });
	}
	if( link =='#2'){

		$.ajax({
		  url: "/ajax/groupPosts/",
		  data:{
			'id':group_id,
		  },
		  dataType: 'json',
		  success: function (data) {
			console.log('ok')
			$('.maincontainer').html(data);
			}
		  });
	}
	if( link =='#3'){
		$.ajax({
		  url: "/ajax/groupMembers/",
		  data:{
			'id':group_id,
		  },
		  dataType: 'json',
		  success: function (data) {
			console.log('ok')
			$('.maincontainer').html(data);
			}
		  });
	}
	if( link =='#4'){
		$.ajax({
		  url: "/ajax/groupMembers/",
		  data:{
			'id':group_id,
		  },
		  dataType: 'json',
		  success: function (data) {
			console.log('ok')
			$('.maincontainer').html(data);
			}
		  });
	}
	if( link =='#5'){
		$.ajax({
		  url: "/ajax/groupPhotoFrames/",
		  data:{
			'id':group_id,
		  },
		  dataType: 'json',
		  success: function (data) {
			console.log('ok')
			$('.maincontainer').html(data);
			}
		  });
	}
	if( link =='#6'){
		$.ajax({
		  url: "/ajax/groupMembers/",
		  data:{
			'id':group_id,
		  },
		  dataType: 'json',
		  success: function (data) {
			console.log('ok')
			$('.maincontainer').html(data);
			}
		  });
	}
	if( link =='#7'){
		$.ajax({
		  url: "/ajax/groupMembers/",
		  data:{
			'id':group_id,
		  },
		  dataType: 'json',
		  success: function (data) {
			console.log('ok')
			$('.maincontainer').html(data);
			}
		  });
	}
	});




});

</script>

{% endblock %}
