{% extends "friendsbook/structure.html" %}
{% block content %}
{% load static %}
{%block head%}
	<link href="{% static 'css/post_page.css' %}" rel="stylesheet">
	<link href="{% static 'css/chatting.css' %}" rel="stylesheet">
	<link href="{% static 'css/pages/cover.css' %}" rel="stylesheet">
	<link href="{% static 'css/pages/group/navigation.css' %}" rel="stylesheet">
	<style>
	.maincontainer ul{
		margin-left:-40px;
	}
	</style>
{%endblock head%}
<div class="container-fluid"><br><br><br>

	<div class="modal fade" id="addMembersToGroup" role="dialog">
	    <div class="modal-dialog">

	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Add members</h4>
	        </div>
			<div class="container-fluid">
				<div class="membersearch">
					<form action="" method="post" onsubmit="return false">{%csrf_token %}
						<input type="text" autocomplete="off" id="searchToAddMembers" size="75" placeholder="Search" name="search_user">
						<input type="hidden" name="group_id" value="{{group.id}}"/>
						<hr>
						<input class="btn btn-primary pull-right" style="margin:4px" type="submit" value="Add"/>
					</form>
				</div>
			</div>
		  </div>

	     </div>
		</div>


	<div class="row">
		<div class="col-sm-10">
			<div class="row ">


				{%include "groups/group_navigation.html"  with active='discussion'%}

			  <div class="col-sm-10">
					<div class="row">
					{%include "groups/partial/group_cover.html"%}
						<!-- Example single danger button -->



					</br>
						<div class="row" style="margin-top:10px;">

							<div class="col-sm-8 maincontainer">
								<div class="page-header">
									<h1>Posts</h1>
								</div>
								<button type="button" class="btn btn-default btn-sm  pull-right btn-compose" >
										<span class="glyphicon glyphicon-share-alt"></span> Create Post
								</button>
								&nbsp;
								<div class="well grouppostform" style="background-color:#fff ;display:none;">

									<form action="" id='compose_form' method="post" enctype='multipart/form-data'>{%csrf_token %}
												<div class="form-group">
												  <label for="id_text">Text:</label>
												  <textarea class="form-control" rows="5" name="text"  id="id_text" style="margin: 0px 161.578px 0px 0px; width: 382px; height: 123px;"></textarea>
												</div>

											<div class="post">
												<div class="status_image">
													<input type="file" name="image" id="id_image">
												</div>
												<div class="post_status">
													<input  type="submit" value="Post"/>
												</div>
											</div>
									</form>
								</div>
								{%include "uposts/only_post.html" %}
							</div>
							<div class="col-sm-1">
							</div>
							<div class="col-sm-3">
								Suggest new members
							</div>
						</div>

			  </div>

		</div>


		</div>
		<div class="col-sm-2">

			{%include "chat/online_user_list.html"%}
		</div>
	</div>


</div>

</div>
<script>


</script>
{% endblock %}


{%block javascript%}

<script src="{% static 'js/posts/posts.js' %}"></script>
<script>

$(function () {
	console.log("Nope")
	$(document).on("click", ".maincontainer .btn-compose", function () {

		//update and correct this
		if ($(".grouppostform").hasClass("composing")) {
      $(".grouppostform").removeClass("composing");
      $(".grouppostform").slideUp();
    }
    else {
      $(".grouppostform").addClass("composing");
      $(".grouppostform textarea").val("");
      $(".grouppostform").slideDown(400, function () {
        $(".grouppostform textarea").focus();
      });
    }

		console.log('done')
	});
	$(document).on("click", ".grouppostform input[value='Post']", function (){
	console.log("done2")
	ul=$(this).closest('ul');
	form=$(this).closest('form');
	console.log($(form).serialize());
	$.ajax({
      url: '{{request.path}}',
      data:$(form).serialize(),
      type: 'POST',
      cache: false,

	  beforeSend: function () {
	  $(form).trigger("reset");
	  $(".grouppostform").slideUp();
	  $('ul.mainposts').prepend("<li class='loadcomment'><img src='/static/img/loading.gif'></li>");
        },
      success: function (data) {
	  $('ul.mainposts li.loadcomment').remove();
	  $('ul.mainposts').prepend(data);
      }
    });
	console.log(form);
	return false;
	});

$(document).on("click", ".membersearch input[type='submit']", function (event){
	form=$(this).closest('form')
	addMembersToGroup=$(this).closest('#addMembersToGroup')
	close=$('.close',addMembersToGroup)
	$($(this).closest('.close')).click();
	$.ajax({
		url: "{%url 'addgroupmember' %}",
		data:$(form).serialize(),
		type:'POST',
		dataType: 'json',
		success: function (data) {
			console.log('back');
			console.log(data)
			$(close).click();
		}
	});

});


});

</script>

{% endblock %}
