	<div class="well" style="background-color:#fff">
		<div class="row" >
			<h1 style="text-align:center">  <strong  >Friend List: </strong></h1>
		</div>
		
		<div class="row">
		
		{%for friend in friends_list%}
			<div class="col-sm-6">		
				<div class="well">
					<div class="friends_list_pic">
						<img class="img-rounded" src="/static/img/profile_pic.png" alt="My image" width="42" height="42"/>
					</div>
					<div>
						<span style="padding-left:4px"; >
						<a href="{%url 'profile_info' friend.slug %}">{{friend.fname}}</a>
						</span>
					</div>
					<div class="friends_list_addFriends">
						<button type="button">Add friends</button>
					</div>
					
				</div>
			</div>
		{%endfor%}
			
		</div>
	</div>				
