<div class="col-sm-5">				
					<div class ="intro" >
						<h4><img src="/static/img/introicon.png" width="25px" height="25px"><strong>&nbsp&nbspIntro</strong></h4>
						<p><img src="/static/img/read.jpg" width="20px" height="20px" >&nbsp&nbspStudying at</p>
						<p><img src="/static/img/images.png" width="20px" height="20px">&nbsp&nbspLives in </p>
						<p><img src="/static/img/color-icons-green-home.png" width="20px" height="20px">&nbsp&nbspFrom</p>
						<p><img src="/static/img/born.png" width="20px" height="20px">&nbsp&nbsp Born in</p>					
					</div>
				</div>
				<div class="col-sm-7">
						<br>
						<h1>Space for create post</h1>
						<div class="row">
							<div class="col-sm-12">
								{%include "uposts/only_post.html" %}<br>	
							</div>
						</div>					
				</div> 