{%extends "user/profile.html"%}
{% load bootstrap3 %}
{%block profile_content%}

  <div class="page-header">
    <h1>Account Settings</h1>
  </div>
  <div class="row" style="margin-top: 2em">
    <div class="col-md-3">
      {% include 'user/partial/partial_settings_menu.html' with active='password' %}
    </div>
    <div class="col-md-9">

      <h3 style="margin-top: 0">Change Password</h3>
      {%if message%}
      <div style="display:block; " class="alert alert-success alert-dismissable resultofsubmission">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Password updated  successfully
      </div>
      {%endif%}
      <form class="changepassword" role="form" class="form-horizontal" method="post" >
        {% csrf_token %}
        {% bootstrap_form form %}    
      </br>
        <div class="form-group">
          <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">Change</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{%endblock profile_content%}
