
{% extends "user/profile.html" %}
{%block contentFromSettings%}

{%endblock contentFromSettings%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
{%block profile_content%}

				<div class="row">

				</div>

				<h1 class="ui header">Photo Gallery   </h1>
						<div class="ui three column grid">


						{% for photo in photo_albums%}

							{%if photo.image %}
								{% if ".jpg" in photo.image.url or ".jpeg" in photo.image.url or ".tif" in photo.image.url or   ".png" in photo.image.url or ".gif" in photo.image.url %}

								<div class="column">
							    <div class="ui fluid card">
							      <div class="image">
											<a class="image" style="border: 1px solid #ccc;" href="{{photo.image.url}}"  data-lightbox="gallery">

												<img src="{{photo.image.url}}" style="height: 206px;width: 305px;">

										  </a>
											<style>
										 

													</style>
							      </div>

							    </div>
							  </div>


								{%endif%}
							{%endif%}




						{%endfor%}

					</div>




{%endblock profile_content%}
