
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create New Group</h4>
        </div>
		
		<div class="container">
			<div style="margin-bottom: 20px;">
			
			 <form id="create-new-group" enctype="multipart/form-data" >{%csrf_token%}
				  <div class="form-group">
					<label for="id_gname">Group Name</label>
					<input type="text" class="group_input_fields"  type="text" name="gname" maxlength="20" required id="id_gname" placeholder="Group Name">

				  </div>
				  <div class="form-group">
					<label for="id_privacy">Privacy</label>
					<input class="group_input_fields" placeholder="Group Type" type="text" name="privacy" maxlength="5" required id="id_privacy">
				  </div>					
				  <input type="submit" class="btn btn-primary" value="Create"/>	
			</form>		

			</div>
		</div>

      </div>
      
    </div>
	</div>
<script>
	    $('#create-new-group').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  
        create_group();
		});
		
		function create_group() {
        console.log("create group is working!") 
		var gname=$('#id_gname').val()
		var privacy=$('#id_privacy').val()
		console.log(gname)
		console.log(privacy)
		$('#create-new-group').trigger("reset");

        $.ajax({
            url : "ajax/CreateGroup/",    
            data : { 
				'gname':gname,
				'privacy':privacy,
				csrfmiddlewaretoken:'{{csrf_token}}',
				
				},
			dataType: 'json',
            success : function(json) {   
			console.log(json)
			console.log(json['gname'])
			$("#Groups").prepend(                
			'<li><a data-group="{{ group|escape }}" href="javascript:void(0)"><div class="group_detail">	<div class="detail">' + json['gname']+'</div>	</div>	</a> </li>')
                console.log(json);              
            },
			error : function(xhr,errmsg,err) {
                alert("unable to create new Group")
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };
</script>