.button1{
	font-size:15px;
	top:270px;
	
	position:absolute;
	margin-right:456px;

}
.button2{
	font-size:15px;
	top:270px;
	right:30px;
	position:absolute;
	margin-right:400px;
}
.button3{
	font-size:15px;
	top:270px;
	right:30px;
	position:absolute;
	margin-right:333px;
}
.button4{
	font-size:15px;
	top:270px;
	right:30px;
	position:absolute;
	margin-right:270px;
}
.button5{

	font-size:15px;
	top:270px;
	right:30px;
	position:absolute;
	margin-right:219px;
}

.button6 {
	font-size:15px;
	top:10px;
	right:0px;
	margin-right:10px;
	position:absolute;

}

.button7{

	margin-top: -39px;
	position:absolute;
	margin-right:560px;

    color: white;
	width:200px;
	height:40px;
}
