				<div class="list-group users-list" style="position:fixed">
				  {% for user_obj in chatusers %}
						{%if user.username !=  user_obj.username %}

					<a    href="{%url 'Messenger' slug1=user.profile slug2=user_obj.profile%}"  class="list-group-item {%ifequal user_obj fuser_obj %} active{%endifequal%}">

					  {%if user_obj.profile.sid%}
										<img class="img-rounded" style=" border-radius: 50%;"  src="{{user_obj.profile.sid.image.url}}" alt="My image" width="42" height="42"/>
										{%else%}
										<img class="conversation-portrait" src="/static/img/user.png" alt="My image" width="42" height="42"/>
										{%endif%}

					  {{ user_obj.profile.fname}}{%if user_obj.profile.lname%} {{user_obj.profile.lname}} {%endif%} <span data-messages_from="{{ user_obj|escape }}" class="noOfUnread">{%if user_obj.noOf_unread > 0 %}{{user_obj.noOf_unread}}{%endif%}</span>
						<div data-username="{{ user_obj|escape }}" class="online">

										{%ifequal user_obj.status|slugify "online"%}
										<span style="background: rgb(66, 183, 42); border-radius: 50%; float:right; height: 6px;display: inline-block; margin-left: 4px;margin-top: 17px; width: 6px;"></span>
										{% endifequal %}
						</div>
					</a>
						{%endif%}
				  {% endfor %}
				</div>
