{% extends "friendsbook/structure.html" %}
{%load static%}
{% load bootstrap3 %}
{% block content %}
{% load humanize %}
		<div class="row">
		</br>
			<div class="col-sm-2">

			 {% block sidebar %}
			 {% bootstrap_messages %}
			 <h3> Advance Search </h3>
			 <form action="{%url 'advanceSearch'%}" method="GET"><input type='hidden'  />{%csrf_token %}

			 {%bootstrap_form form%}



			   <div class="form-group">
			         <button type="submit" class="btn btn-default ">
			           Search
			         </button>

			       </div>

			 </form>
			 {% bootstrap_messages %}

			{%endblock sidebar%}
			</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-5">

				<div class="row">
							<h1>  <strong>People </strong></h1>
				</div>
			</br>


				{% for profile,y in data%}
				<div class="well particularuser" user={{profile.username}} csrf={{csrf_token}}>
					<div class="add_friendbutton" >
						{%if profile.sid%}
							{%if profile.sid.image%}
								<img class="img-rounded" src="{{ profile.sid.image.url}}" alt="My image" width="42" height="42"/>
							{%endif%}
						{%else%}
								<img class="img-rounded" src="/static/img/profile_pic.png" alt="My image" width="42" height="42"/>
						{%endif%}
						<a href={% url 'profile_info' profile.slug %}>{{profile.username.profile.fname}} {%if profile.username.profile.lname%} {{profile.username.profile.lname}} {%endif%}</a>
						{%if user.username  !=  profile.username.username %}
								{%if y is 0 or y is 1 or y is 2%}
										<button class="btn btn-default type1" actiontype="type1" type="button" performaction="{%if y is 0%}Send{%elif y is 1%}Cancel{%elif y is 2%}Confirm{%endif%}" onclick="return false"  >
										{%if y is 0%} Send request {%elif y is 1%} Cancel request{%elif y is 2%}Confirm Request{%endif%}
										</button>
								{%endif%}
								{%if y is 2 or y is 3%}
								<button class="btn btn-default type2" actiontype="type2" performaction="{%if y is 2%}Delete{%elif y is 3 %}Unfriend{%endif%}" type="button">
									{%if y is 2%}Delete Request{%elif y is 3 %}Unfriend{%endif%}
								</button>
								{%endif%}
						{%endif%}
					</div>
					<br>
					{%if profie.lname%}
						{{profile.lname}}</br>
					{%endif%}
					{%if profile.state%}
						from {{profile.state}}</br>
					{%endif%}
					{{profile.emailid}}</br>
					{{profile.gender}}
				</div>
					<br>
				{%empty%}
					<h3>No user Found</h3>
					{%endfor%}
				<div class="row">
							<h1>  <strong>Groups</strong></h1>
				</div>
			</br>
				{% for group in sgroups %}
				<div class="well particularuser"  csrf={{csrf_token}}>
					<div class="add_friendbutton" >
						{%if group.cover%}
							{%if group.cover.image%}
								<img class="img-rounded" src="{{ group.cover.image.url}}" alt="My image" width="42" height="42"/>
							{%endif%}
						{%else%}
								<img class="img-rounded" src="/static/img/cover.jpg" alt="My image" width="42" height="42"/>
						{%endif%}

					<a href="{%url 'GroupsHomepage' group.id%}">	{{group.gname}} </a>
					</div>


					created {{group.time|naturaltime}} with {{group.privacy}} privacy
					{%if group.about%}
					<br>
						{{group.about}}
					{%endif%}
				</div>
				{%empty%}

				<h3> No Groups Found</h3>
					{% endfor %}

			<div class="col-sm-2">
			</div>
			<div class="col-sm-2">

			</div>

		</div>
{% endblock %}
{% block javascript%}
<script src="{% static 'js/addfriends/friendrequest.js' %}"></script>
<script>
/*var load_friends_list = function () {
    if (!$("#load_feed").hasClass("no-more-feeds")) {
      var page = $("#load_feed input[name='page']").val();
      var next_page = parseInt($("#load_feed input[name='page']").val()) + 1;
      $("#load_feed input[name='page']").val(next_page);
      $.ajax({
        url: "/ajax/feeds/load/",
        data: $("#load_feed").serialize(),
        cache: false,
        beforeSend: function () {
          $(".load").show();
        },
        success: function (data) {
					console.log(data);
          if (data.length > 0) {
            $(".firstPagePosts").append(data)
          }
          else {
            $("#load_feed").addClass("no-more-feeds");
          }
        },
        complete: function () {
          $(".load").hide();
        }
      });
    }
  };

  $("#load_feed").bind("enterviewport", load_timeline_posts).bullseye();
*/
</script>
{%endblock %}
