{% extends "user/base.html" %}
{% load widget_tweaks %}
{% block content %}

<form action="" method="post"><input type='hidden'  />{%csrf_token %}

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field|add_class:'form-control' }}

      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
  {% endfor %}

            {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}

  <div class="form-group">
        <button type="submit" class="btn btn-default ">
          Login
        </button>
        <a href="{% url 'signup' %}" class="btn btn-default">SignUp</a>
      </div>

</form>
{% endblock %}
