{% extends "friendsbook/structure.html" %}
{% block content %}
{% load static %}
{%block head%}
	<link href="{% static 'css/post_page.css' %}" rel="stylesheet">
	<link href="{% static 'css/chatting.css' %}" rel="stylesheet">
	<link href="{% static 'css/pages/cover.css' %}" rel="stylesheet">
{%endblock head%}
<div class="container"><br><br><br>
	<div class="row ">
		<div class="col-sm-9">
			<div class="row profile " profilefor="{{User.username}}">
				<div class="background_pic_design">
					{%if User.profileCover.image%}
						<div class="cover_background" id="cover_background" title="Cover" style='background-image: url("{{User.profileCover.image.url}}");'>
					{%else%}
						<div class="cover_background" id="cover_background" title="Cover" style='background-image: url("/static/img/cover.jpg");"'>
					{%endif%}
					<button class="btn btn-default button1">Timeline</button>
					<button class="btn btn-default button2">About</button>
					<button class="btn btn-default button3">Friends</button>
					<button class="btn btn-default button4">Photos</button>
					<button class="btn btn-default button5">More</button>
					{% ifequal User.username.username user.username  %}
					<div class="btn button6" style="margin-bottom: 20px;">
						<button type="button" class="btn btn-primary js-upload-photos" id="mycover">

						  <span class="glyphicon glyphicon-cloud-upload"></span> Upload Cover

						</button>
						<input id="fileupload1" type="file" name="image"
							   style="display: none;"
							   data-url="{%url 'UpdateCover'%}"
							   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'/>
					</div>
					{%endifequal%}
					<div  class="name">
						<div class="row">
							<div class="col-sm-6">
								{{User.username.profile.fname}} {%if User.username.profile.lname%}{{User.username.profile.lname}}{%endif%}
							</div>
							{% ifnotequal User.username.username user.username  %}
							<div class="particularuser" user={{User.username}} csrf={{csrf_token}}>
								<div class="col-sm-6 add_friendbutton" >

 	 								{%if y is 0 or y is 1 or y is 2%}
 	 										<button class="btn btn-default type1" actiontype="type1" type="button" performaction="{%if y is 0%}Send{%elif y is 1%}Cancel{%elif y is 2%}Confirm{%endif%}" onclick="return false"  >
 	 										{%if y is 0%} Send request {%elif y is 1%} Cancel request{%elif y is 2%}Confirm Request{%endif%}
 	 										</button>
 	 								{%endif%}
 	 								{%if y is 2 or y is 3%}
 	 								<button class="btn btn-default type2" actiontype="type2" performaction="{%if y is 2%}Delete{%elif y is 3 %}Unfriend{%endif%}" type="button">
 	 									{%if y is 2%}Delete Request{%elif y is 3 %}Unfriend{%endif%}
 	 								</button>
 	 								{%endif%}
 							 {%endifnotequal%}
							</div>
						</div>
					</div>

					</div>
						<div class="pic" >
						{%if User.sid%}
									{%if User.sid.image%}
										<img class="img-rounded" id="my_profile_pic"  src="{{ User.sid.image.url}}" alt="My image" width="200" height="200"/>
									{%endif%}
						{%else%}
							<img class="img-rounded" id="my_profile_pic" src="/static/img/profile_pic.png" alt="My image" width="200" height="200"/>
						{%endif%}
						{% ifequal User.username.username user.username  %}
						<div class="button7" >
						<button type="button" class="btn btn-primary js-upload-photos" id="mypic" style="display:none">
						  <span class="glyphicon glyphicon-cloud-upload"></span> Upload Profile Picture
						</button>


						<input id="fileupload2" type="file" name="image"
							   style="display: none;"
							   data-url="{%url 'UpdateProfile'%}"
							   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'/>
						</div>
						{%endifequal%}

						</div>
					</div>
				</div>
			</div>


			<!---
			-->
			<br><br><br>

			{%include "user/partial/only_post.html" %}




		<!---
		-->


			<div class="row">

			</div>

		</div>
		<div class="col-sm-1">
		</div>
		<div class="col-sm-2">
			{%include "chat/online_user_list.html"%}
		</div>
	</div>

</div>




<script>
$(function () {
	$(document).on("click", "#cover_background .button1", function () {
		username=$($(this).closest('.profile')).attr('profilefor')
		$.ajax({
			url: '/ajax/users/profile/status/',
					data:{
						'username':username
					},
			type:'get',
			dataType: 'json',
			success: function (data) {
				document.getElementById('profileonclickbuttons').innerHTML=data;
			}
		  });
		});

	$(document).on("click", "#cover_background .button3", function () {
		username=$($(this).closest('.profile')).attr('profilefor')
		$.ajax({
			url: '/ajax/users/profile/friend_list/',
			data:{
						'username':username
					},
			type:'get',
			dataType: 'json',
			success: function (data) {
				document.getElementById('profileonclickbuttons').innerHTML=data;
			}
		  });
	});

	$(document).on("click", "#cover_background .button4", function () {
		username=$($(this).closest('.profile')).attr('profilefor')
		$.ajax({
			url: '/ajax/users/profile/photoframe/',
			data:{
						'username':username
					},
			type:'get',
			dataType: 'json',
			success: function (data) {
				document.getElementById('profileonclickbuttons').innerHTML=data;
			}
		  });
		});
{% ifequal User.username.username user.username  %}
	$('.pic').on("mouseenter",function(){
		$('#mypic').show()
	});

	$('.pic').on("mouseleave",function(){
		$('#mypic').hide()
	});
{%endifequal%}

});


</script>
{% endblock %}


{%block javascript%}
<script src="{% static 'js/posts/posts.js' %}"></script>
<script src="{% static 'js/addfriends/friendrequest.js' %}"></script>


{% endblock %}
