{% extends "user/base.html" %}
{% load bootstrap3 %}
{% block javascript %}
<script>

</script>
  <script>
  $(function() {

$('body').on('focus',".datepicker", function(){
	datepicker=(this).closest('.datepicker')
$(datepicker).datepicker({

	changeMonth: true,
	changeYear: true,
	yearRange: "1970:2018",
	// You can put more options here.

});
});



    $(document).on("change","#id_username",function(){
console.log('ennter')
obj=$(this);
	console.log( $(this).val() );
      var username=$(this).val();
      if(username.length<5) return;

	    $.ajax({
        url: '{%url "validate_username"%}',
        cache: false,
        data: {
          'username': username
        },

        dataType: 'json',
        success: function (data) {

          if (data.is_taken) {
            alert("A user with this username already exists.");
            obj.val("");
            $('#id_username').focus()
          }

          console.log(data)
          console.log('ok')
        }
      });

    });

    });
  </script>
{% endblock %}

{% block content %}
<style>
ul li {list-style:none}
</style>

<form action="" method="POST">{%csrf_token%}
  {% bootstrap_form user_form %}
  {% bootstrap_form profile_form %}

	<div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Sign Up" />
  </div>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Log in!</a></p>

{% endblock %}
