{% extends "friendsbook/structure.html" %}
{% block content %}

	<div class="row"><br><br><br><br>	
			<div class="col-sm-2">
			 {%include "groups/group_list.html"%}			 
			</div>
			<div class="col-sm-5">	
			{%include "uposts/only_post.html" %}<br>	
			</div> 
			<div class="col-sm-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
						<p>Suggested friends</p>
						</div>
					</div>
				</div>
			</div> 
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
			{%include "chat/online_user_list.html"%}
			</div> 
	</div>
	
  
{%endblock%}

{%block javascript%}
<script>

</script>

{% endblock %}

