{% extends "friendsbook/structure.html" %}
{% load static %}
{%block head%}
	<link href="{% static 'css/post_page.css' %}" rel="stylesheet">
	<link href="{% static 'css/chatting.css' %}" rel="stylesheet">
{%endblock head%}
{% block content %}

	<div class="row"><br><br><br><br>
			<div class="col-sm-2">
			 {%include "groups/group_list.html"%}
			</div>
			<div class="col-sm-5">
				<ul style="list-style-type:none" class="mainposts">
			{%include "uposts/posts.html" %}<br>
				</ul>
			</div>
			<div class="col-sm-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
						{%include "user/partial/suggested_friends.html"%}
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
			{%include "chat/online_user_list.html"%}
			</div>

	</div>


{%endblock%}

{%block javascript%}


<script src="{% static 'js/posts/posts.js' %}"></script>


{% endblock %}
